
    {% extends "base.html" %}
    {% block main %}
    <section id="layout-content">
		<div id="profile" class="text-center">
			<div class="container-fluid">
				<div class="row">
					<form class="form-profile" method="POST" action="/profile" >
						<h1 class="mb-3 font-weight-normal">Your Profile</h1>
						<h3 class="mb-2 font-weight-normal">Update Your Profile</h3>
						{% with messages = get_flashed_messages() %}
							{% if messages %}
							{% for message in messages %}
							<p>{{ message }}</p>
							{% endfor %}
							{% endif %}
						{% endwith %}
						<label for="inputUserName" class="sr-only">UserName</label>
						<input type="text" id="inputUserName" name="username" class="form-control" placeholder="User Name" required="required">
						<label for="inputEmail" class="sr-only">Email address</label>
						<input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required="required" autofocus="">
						<button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
					</form>
				</div>
				<div class="row">
					<form class="form-profile" method="POST" action="/password" >
						<h3 class="mb-2 font-weight-normal">Update Your Password</h3>
						<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="required">
						<label for="inputPasswordConfirm" class="sr-only">Password</label>
						<input type="password" id="inputPasswordConfirm" name="password_confirm" class="form-control" placeholder="Password Confirm" required="required">
						<button class="btn btn-lg btn-primary btn-block" type="submit">Change Your Password</button>
					</form>
				</div>
			</div>
		</div>
    </section>
    {% endblock %}