
    {% extends "base.html" %}
    {% block main %}
    <section id="layout-content">
		<div id="profile" class="text-center">
			<div class="container-fluid">
				<div class="row">
					<form class="form-profile" method="POST" action="/profile" enctype="multipart/form-data">
						<h1 class="mb-3 font-weight-normal">Your Profile</h1>
						{% with messages = get_flashed_messages() %}
							{% if messages %}
								{% for message in messages %}
								<p>{{ message }}</p>
								{% endfor %}
							{% endif %}
						{% endwith %}
						<label for="inputFirstName" class="sr-only">First Name</label>
						<input type="text" id="inputFirstName" name="firstname" class="form-control" placeholder="First Name" required="required" value="{{ session['user']['first_name'] }}">
						<label for="inputLastName" class="sr-only">Last Name</label>
						<input type="text" id="inputLastName" name="lastname" class="form-control" placeholder="Last Name" required="required" value="{{ session['user']['last_name'] }}">
						{% if session['user']['avatar'] %}
						<div id="avatar">
							<img src="{{ session['user']['avatar'] }}" alt="Your Profile Image">
						</div>
						{% endif %}
						<div class="form-group">
							<div class="input-group-append">
								<div class="custom-file">
								<input type="file" class="custom-file-input" name="avatar" id="avatar-upload">
								<label class="custom-file-label" for="avatar-upload">Choose file</label>
								</div>
							</div>
						</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
					</form>
				</div>
			</div>
		</div>
    </section>
    {% endblock %}