#error404{
    background: url(../img/error404.jpg) no-repeat right center;
    height: calc(100vh - 56px);
    display: block;
    position: relative;
    background-size: 600px 600px;
}
#error404 h1{
    font-size: 16rem;
    margin-top: 2rem;
}
#error404 p{
    font-size: 2rem;
    line-height: 2.4rem;
}
.nav-link i{
    margin-right: 10px;
}