body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
}

/* We don't actually use any h5 or h6 tags */
h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link i {
  margin-right: 15px;
}

body {
  background: #151515;
}

.bg-dark {
  background-color: #151515 !important;
}

.btn.btn-primary {
  background: #151515;
  border: 1px solid #dadada;
  color: #fff;
  transition: background-color opacity 0.3s ease;
  padding: 15px 30px;
  border-radius: 0;
}

.btn.btn-primary:hover {
  background: #fff;
  color: #151515;
  border: 1px solid #fff;
}

.alert {
  border-radius: 0;
}

ul.flashes {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
}

h2 {
  margin: 30px;
}

.form-profile,
.form-upload,
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 6rem auto;
}

.form-profile p,
.form-upload p,
.form-signin p {
  margin-top: 1rem;
}

.form-profile p a,
.form-upload p a,
.form-signin p a {
  color: #fff;
}

.form-profile .custom-file,
.form-upload .custom-file,
.form-signin .custom-file {
  margin-bottom: 1.2rem;
  border-radius: 0;
}

.form-profile .custom-file-label::after,
.form-upload .custom-file-label::after,
.form-signin .custom-file-label::after {
  color: #000;
  background-color: #fff;
  border-left: inherit;
  border-radius: 0;
}

.form-profile .custom-file-label,
.form-upload .custom-file-label,
.form-signin .custom-file-label {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  text-align: left !important;
  cursor: pointer;
}

.form-profile {
  margin: 2rem auto;
}

.form-control {
  border-radius: 0;
  margin-bottom: 1rem;
  border: none;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 30px;
}

.dropdown-item {
  color: #fff;
  transition: background-color opacity 0.3s ease;
}

.dropdown-item:hover {
  background: #fff;
  color: #151515;
}

#navbar i {
  margin-right: 10px;
}

li.nav-item {
  margin-right: 15px;
}

/* Hero */
#hero {
  background: url(../img/hero.jpg) no-repeat center center fixed;
  height: calc(100vh - 68px);
  width: 100%;
  display: block;
  position: relative;
  background-size: cover;
}

#hero .container-fluid .row {
  padding: 120px;
}

#hero .container-fluid .row img {
  display: block;
}

#hero .container-fluid .row h1 {
  margin-bottom: 15px;
  text-transform: uppercase;
  width: 100%;
  color: #151515;
}

#hero .container-fluid .row p {
  margin-bottom: 0;
  font-weight: 700;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  color: #151515;
}

#hero .container-fluid .row .btn.btn-primary {
  background: #151515;
  border: none;
  color: #fff;
  margin-right: 1rem;
  margin-top: 1rem;
}

#hero .container-fluid .row .btn.btn-primary:hover {
  background: #fff;
  color: #151515;
  border: none;
}

#my-images,
#others-images {
  width: 100%;
}

#my-images .card,
#others-images .card {
  padding: 0;
  margin: 0;
  background-color: none;
  border: none;
  border-radius: 0;
}

#my-images .card img,
#others-images .card img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
  #my-images .card img,
  #others-images .card img {
    transition: none;
  }
}

#my-images .card h5,
#others-images .card h5 {
  position: absolute;
  top: calc(50% - 15px);
  opacity: 0;
  padding: 0 15px;
  font-weight: 700;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  transition: opacity 0.3s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
  #my-images .card h5,
  #others-images .card h5 {
    transition: none;
  }
}

#my-images .card p,
#others-images .card p {
  display: none;
}

#my-images .card:hover img,
#others-images .card:hover img {
  opacity: 0.5 !important;
}

#my-images .card:hover h5,
#others-images .card:hover h5 {
  opacity: 1 !important;
}

.grid-item {
  width: calc(33vw - 30px);
  float: left;
  margin-bottom: 30px;
}

.grid-item img {
  width: 100%;
  height: auto;
}

.tags {
  margin-right: 15px;
}

#others-images {
  margin-bottom: 30px;
}

.modal-dialog {
  max-width: 75vw !important;
}

.modal-dialog .modal-content {
  background-color: transparent;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

.modal-dialog .modal-content .modal-body {
  padding: 0;
  background-color: #fff;
}

.modal-dialog .modal-content .modal-body img {
  width: 100%;
  height: auto;
}

.modal-dialog .modal-content .modal-body h5 {
  font-weight: 700;
  margin-top: 15px;
  margin-left: 15px;
}

.modal-dialog .modal-content .modal-body p {
  margin-top: 5px;
  margin-left: 15px;
}

.modal-dialog .modal-content .modal-body .close {
  position: absolute;
  border-bottom: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  right: 15px;
  bottom: 15px;
  text-shadow: none;
}

#profile h1 {
  margin-bottom: 2rem !important;
}

#profile h3 {
  margin-bottom: 1rem !important;
}

#profile #avatar {
  width: 100%;
  display: block;
}

#profile #avatar img {
  width: 145px;
  margin: 2rem auto;
}
/*# sourceMappingURL=style.css.map */