	{% extends "base.html" %}
	{% block main %}
    <div id="images" class="container-fluid">
		<div class="row">
			<div class="col">
				<h2>{{ title }}</h2>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
					<p>
						<div class="alert alert-dark" role="alert">
							{{ message }}
						</div>
					</p>
					{% endfor %}
				{% endif %}
				{% endwith %}
				{% if images %}
				{% set liked_class = 'liked fas fa-heart' %}
				{% set not_liked_class = 'not-liked far fa-heart' %}
				{% set likes = session['user']['likes'] %}
					<div class="grid">
					{% for image_object in images.each() %}
						{% with image = image_object.val() %}
						<div class="grid-item">
							<img src="{{ image.upload_location }}" alt="{{ image.description }}">
							<div class="info row mx-0">
								<div class="col-2 avatar pl-0">
									<img src="{{ image.user_avatar }}" alt="{{ image.user_name }}">
								</div>
								<div class="col-10 pr-0">
									<h5>
										{{ image.name }} 
										<a href="/images/like/{{ image.id }}">
											<i class="like {{ liked_class if image.id in likes else not_liked_class }}" data-image="{{ image.id }}"></i>
										</a>
									</h5>
									<p>{{ image.description }}</p>
									<small>{{ image.user_name }}</small>
								</div>
							</div>
						</div>
						{% endwith %}
					{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
    </div>
    {% endblock %}