.form-profile,
.form-upload,
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 6rem auto;
    p{
        margin-top: 1rem;
        a{
            color: #fff;
        }
    }
    .custom-file{
        margin-bottom: 1.2rem;
        border-radius: 0;
    }
    .custom-file-label::after {
        color: #000;
        background-color: #fff;
        border-left: inherit;
        border-radius: 0;
    }
    .custom-file-label {
        color: #000;
        background-color: #fff;    
        border: 1px solid #000;
        border-radius: 0;    
        text-align: left!important;
        cursor: pointer;
    }
}
.form-profile{
    margin: 2rem auto;
}
.form-control {
    border-radius: 0;
    margin-bottom: 1rem;
    border: none;
}