.grid{
    margin-left: 30px;
}
.grid-item{
    width: calc(33% - 30px);
    float: left;
    margin-bottom: 30px;
    cursor: pointer;
    img{
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 991px) {
    .grid-item{
        width: calc(50% - 30px);
    }
}
@media only screen and (max-width: 575px) {
    .grid-item{
        width: calc(100% - 30px);;
    }
}
#images{
    .info{
        margin: 15px;
        p{
            margin-bottom: 0rem;
        }
    }
    h5{
        a{
            float: right;
            display: inline;
            color: #fff;
            margin-left: 1rem;
        }
    }
}
#upload{
    #image{
        width: 100%;
        margin-bottom: 15px;
        img{
            width: 100%;
            height: auto;
        }
    }
}
#image-modal{
    .modal-dialog {
        max-height: 75vh !important;
        min-width: 40vw !important;
        .modal-content {
            background-color: transparent;
            border: none;
            border-radius: 0;
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center; /* align vertical */
            .modal-body {
                padding: 0;
                background-color: #000;
            }
            .modal-header{
                border: none;
                width: 100%;
                text-align: center;
            }
            img{
                width: 100%;
                height: auto;
            }
            h5{
                font-weight: 700;
                margin: 15px 0;
                padding: 0 15px;
                width: 100%;
            }
            p{
                margin: 15px 0;
                padding: 0 15px;
            }
            i{
                cursor: pointer;
                font-size: 1.2rem;
                color: #fff;
                float: right;
            }
        }
    }
}