/* Typography */
body{
    font-family: 'Open Sans', Arial, sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
}
h1, h2, h3, h4{
    font-family: 'Roboto Condensed', Arial, sans-serif;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}